<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

<title>Save Cashier</title>

</head>

<body>
	<div class="container">

		<h3>Cashier directory</h3>
		<hr>

		<p class="h4 mb-4">Save cashier</p>

		<form action="#" th:action="@{/cashiers/save}" th:object="${cashier}"
			method="POST">

			<input type="hidden" th:field="*{id}"> 
			<input type="text"
				th:field="*{firstName}" class="form-control mb-4 col-4"
				placeholder="First name" /> <input type="text"
				th:field="*{lastName}" class="form-control mb-4 col-4"
				placeholder="Last name" /> <input type="text"
				th:field="*{username}" class="form-control mb-4 col-4"
				placeholder="Username" /> <input type="password"
				th:field="*{password}" class="form-control mb-4 col-4"
				placeholder="Password" />
				<input type="text"
				th:field="*{locationName}" class="form-control mb-4 col-4"
				placeholder="Location name" />
				<input type="text"
				th:field="*{locationCity}" class="form-control mb-4 col-4"
				placeholder="Location city" />
				<input type="text"
				th:field="*{locationAddress}" class="form-control mb-4 col-4"
				placeholder="Location Address" />

			<button type="submit" class="btn btn-info col-2">Save</button>

		</form>
		<hr>
		<a th:href="@{/cashiers/list}">Back to Cashiers List</a>

	</div>

</body>


</html>